*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;

}
.nav-list{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 0;
}
.list-item{
  display: inline-block;
  background-color: teal;
  color: white;
  position: relative;
  border: 1px solid rgb(1, 90, 90);
  font-size: 16px;
  font-family: sans-serif;
}
.link{
  display: inline-block;
  padding: 10px 30px;
}
.sub-nav-list,
.dub-sub-nav-list{
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
  text-transform: capitalize;
}
.dub-sub-list-item{
  left: 100%;
  bottom: 39px;
}
.sub-list-item,
.dub-sub-list-item{
  display: block;
}
.list-item:hover{
  background-color: rgb(1, 51, 51);
}
.list-item:hover>.sub-nav-list,
.sub-list-item:hover>.dub-sub-nav-list{
  display: block;
}